<div class="field">
  <div class={{getFieldType()}}>
    <mat-grid-list cols="5" rowHeight="10px">
      <mat-grid-tile class="fieldNumber" [colspan]="1" [rowspan]="2">
          <h4>{{leiterliField.number}}</h4>
      </mat-grid-tile>
      <mat-grid-tile class="moveNumber" *ngIf="leiterliField.move!=0" [colspan]="1" [rowspan]="2">
        <h6>{{leiterliField.move}}</h6>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="5" [rowspan]="8">
        <mat-list>
          <mat-list-item *ngFor="let player of players">
            <img src={{getImageForPlayer(player.identity.name)}} alt="Avatar">
          </mat-list-item>
        </mat-list>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>




