<mat-grid-list cols="1" rowHeight="33px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h1>{{leiterliField.number}}</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    {{leiterliField.move}}
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-list>
      <mat-list-item *ngFor="let player of players">
        <img src={{getImageForPlayer(player.identity.name)}} alt="Avatar">
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>


