<div class="field">
  <div class={{getFieldType()}}>
    <div class="fieldNumber">
      <span>{{leiterliField.number}}</span>
    </div>
    <div class="moveNumber" *ngIf="leiterliField.move!=0 && leiterliField.visited">
      <span>{{leiterliField.move}}</span>
    </div>
    <div class="players">
      <div *ngFor="let player of players" class="player">
        <img src={{getImageForPlayer(player.identity.name)}} alt="Avatar">
      </div>
    </div>
    <div class="item">
      <img src="{{itemImage()}}">
    </div>
  </div>
</div>



