
<role [werwoerterGame]="werwoerterGame" *ngIf="showRole()"></role>
<read [werwoerterGame]="werwoerterGame" *ngIf="showRead()"></read>
<ask [werwoerterGame]="werwoerterGame" *ngIf="showAsk()"></ask>
<citizenvote [werwoerterGame]="werwoerterGame" *ngIf="showCitizenVote()"></citizenvote>
<werevote [werwoerterGame]="werwoerterGame" *ngIf="showWerevote()"></werevote>
<werewolfswon [werwoerterGame]="werwoerterGame" *ngIf="showWerewolfsWon()"></werewolfswon>
<citizenwon [werwoerterGame]="werwoerterGame" *ngIf="showCitizenWon()"></citizenwon>
<confirm [werwoerterGame]="werwoerterGame" *ngIf="showConfirm()"></confirm>






