<div class="container">
  <mat-card *ngIf="showCreateCard()">
    <mat-card-title>Neues Spiel</mat-card-title>
    <button class="create-button" mat-raised-button color="primary" (click)="showCreateMenu()">Spiel erstellen</button>
  </mat-card>
  <mat-card *ngIf="isShowingCreateMenu">
    <mat-card-title>
      Neues Spiel
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Wähle ein Spiel aus</mat-label>
        <mat-select [(value)]="selectedGameType">
          <div *ngFor="let gameType of gameTypes">
            <mat-option value="{{gameType}}">{{gameTypeToStr(gameType)}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="createGame()" [disabled]="createGameDisabled()">Spiel erstellen</button>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="getCreatedGames().length > 0">
    <mat-card-title>Erstellte Spiele</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let game of getCreatedGames()" [expanded]="game.name === getJoinedGame()?.name">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img class="icon_image" [src]="getIconForGame(game)">
            <div class="game_title">{{game.name}}</div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <player-list [game]="game"></player-list>
        <game-settings [game]="game"></game-settings>
        <div class="button-bar">
          <button mat-button (click)="$event.stopPropagation(); joinGame(game)" [disabled]="isJoinDisabled(game)">Mitspielen</button>
          <span class="filler"></span>
          <span class="warn" *ngIf="game.players.length<MIN_PLAYER_PER_GAME">min {{MIN_PLAYER_PER_GAME}} players</span>
          <span class="filler"></span>
          <button mat-button (click)="leave(game)" [disabled]="isLeaveDisabled(game)">Verlassen</button>
          <span class="filler"></span>
          <button mat-button (click)="delete(game)" *ngIf="!isDeleteHidden(game)">Spiel löschen</button>
          <span class="filler" *ngIf="!isDeleteHidden(game)"></span>
          <button mat-button (click)="startGame(game)" [disabled]="isStartGameDisabled(game)">Starten</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <mat-card *ngIf="getRunningGames().length > 0">
    <mat-card-title>Laufende Spiele</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let game of getRunningGames()" [expanded]="game.name === getJoinedGame()?.name">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img class="icon_image" [src]="getIconForGame(game)">
            <div class="game_title">{{game.name}}</div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <player-list [game]="game"></player-list>
        <div class="button-bar">
          <button mat-button (click)="$event.stopPropagation(); reconnect(game)" [disabled]="!isReconnectEnabled(game)">Erneut verbinden</button>
          <span class="filler"></span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
  <mat-card *ngIf="getFinishedGames().length > 0">
    <mat-card-title>Abgeschlossene Spiele</mat-card-title>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let game of getFinishedGames()" [expanded]="game.name === getJoinedGame()?.name">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img class="icon_image" [src]="getIconForGame(game)">
            <div class="game_title">{{game.name}}</div>
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <player-list [game]="game"></player-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>

