@import "../../variables";

.create-button {
  margin-top: 4px;
  margin-bottom: 4px;
  align-content: center;
  background-color: green;
}

.mat-form-field {
  padding-left: 10px;
}

.icon_image {
  width: 40px;
  height: 40px;
  padding-right: 40px;
}

.game_title {
  padding-top: 10px;
}

.mat-card {
  margin-top: 10px;
}
