<mat-list>
  <mat-list-item *ngFor="let rankedPlayer of getRankedPlayers()">
    <img matListAvatar src={{getImageForPlayer(rankedPlayer.name)}} alt="Avatar">
    <h1>{{rankedPlayer.rank}}</h1>
    <h3 matLine> {{rankedPlayer.name}}
        <img class="star" src="../../../../assets/leiterli/fields/Star.png" *ngIf="hasStar(rankedPlayer.name)">
        <span class="numberOfStars" *ngIf="getNumberOfStars(rankedPlayer.name) > 1">{{getNumberOfStars(rankedPlayer.name)}}</span>
    </h3>
    <p matLine>
      <span> {{rankedPlayer.field}} </span>
    </p>
  </mat-list-item>
</mat-list>
