
img {
  width: 24pt;
  height: 24pt;
}

.star {
  padding-left: 4pt;
}

.numberOfStars {
  font-size: 8pt;
  font-weight: bolder;
}
//<span *ngIf="hasStar(rankedPlayer.name)" matBadge="{{getNumberOfStars(rankedPlayer.name)}}">

span {
  z-index: 2;
}
