.main-card {
  width: 90%;
  margin: 20px 20px 20px 20px;
}

.content-card {
  margin: 20px 20px 20px 20px;
  cursor: pointer;
}

.mat-card-image {
  margin-top: 4px !important;
  max-width: 400px;
}
