<div class="full-screen">
  <div class="container">
    <div class="row">
      <mat-card class="content-card">
        <mat-card-title>
          Bare in Flur
        </mat-card-title>
        <mat-card-content routerLink = "/flur">
          <img mat-card-image src="../../assets/main/flur.png" alt="Flur">
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row">
      <mat-card class="content-card">
        <mat-card-title>
          Games
        </mat-card-title>
        <mat-card-content>
          <a href="http://konigames.herokuapp.com">
            <img mat-card-image src="../../assets/main/dice.jpg" alt="Games" >
          </a>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="row">
      <mat-card class="content-card">
        <mat-card-title>
          Cocktails
        </mat-card-title>
        <mat-card-content routerLink = "/cocktail">
          <img mat-card-image src="../../assets/main/cocktail.jpg" alt="Cocktail">
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>



