<mat-card class="main-card">
  <mat-card-title>
    Hauptmenü
  </mat-card-title>
  <mat-card-content>
    <mat-card class="content-card">
      <mat-card-title>
        Games
      </mat-card-title>
      <mat-card-content routerLink = "/lobby">
        <img mat-card-image src="../../assets/main/dice.jpg" alt="Games">
      </mat-card-content>
    </mat-card>
    <mat-card class="content-card">
      <mat-card-title>
        Cocktails
      </mat-card-title>
      <mat-card-content routerLink = "/cocktail">
        <img mat-card-image src="../../assets/main/cocktail.jpg" alt="Games">
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
