<leiterli-topbar [leiterliGame]="leiterliGame" (sideModeChanged)="sideModeChangedHandler($event)"></leiterli-topbar>
<leiterli-board [leiterliGame]="leiterliGame" *ngIf="showBoardFull()"></leiterli-board>
<leiterli-stats [leiterliGame]="leiterliGame" *ngIf="showStatsFull()"></leiterli-stats>
<mat-drawer-container class="example-container" *ngIf="showSide()">
  <mat-drawer-content>
    <leiterli-board [leiterliGame]="leiterliGame"></leiterli-board>
  </mat-drawer-content>
  <mat-drawer mode="side" opened position="end">
    <leiterli-stats [leiterliGame]="leiterliGame"></leiterli-stats>
  </mat-drawer>
</mat-drawer-container>
