<leiterli-topbar [leiterliGame]="leiterliGame" (sideModeChanged)="sideModeChangedHandler($event)"></leiterli-topbar>
<mat-drawer-container class="example-container">
  <mat-drawer-content>
    <leiterli-board [leiterliGame]="leiterliGame" *ngIf="showBoard()"></leiterli-board>
    <leiterli-stats [leiterliGame]="leiterliGame" *ngIf="showStatsFull()"></leiterli-stats>
  </mat-drawer-content>
  <mat-drawer mode="side" opened position="end" *ngIf="showSide()">
    <leiterli-stats [leiterliGame]="leiterliGame"></leiterli-stats>
  </mat-drawer>
</mat-drawer-container>
