<mat-card>
  <mat-card-title>
    Tagphase
  </mat-card-title>
  <mat-card-content>

    <div *ngIf="isMayor()">
      <img mat-card-image src="../../../../assets/werwoerter/mayor.png" alt="Tagphase">
      <mat-label>
        {{getMayorText()}}
      </mat-label>
      <mat-card>
        <mat-card-content>
          <button mat-button style="color: green" (click)="sendMarker(correctGuessMarker)">JA <span><mat-icon>thumb_up</mat-icon></span></button>
          <button mat-button style="color: darkred" (click)="sendMarker(wrongGuessMarker)">NEIN <span><mat-icon>thumb_down</mat-icon></span></button>
          <button mat-button style="color: darkgoldenrod" (click)="sendMarker(maybeGuessMarker)">Vielleicht <span><mat-icon>offline_pin</mat-icon></span></button>
          <button mat-button style="color: steelblue" (click)="sendMarker(closeMarker)">Nah dran <span><mat-icon>whatshot</mat-icon></span></button>
          <button mat-button style="color: red" (click)="sendMarker(wrongTrackMarker)">Falsche Fährte <span><mat-icon>cancel</mat-icon></span></button>
        </mat-card-content>
      </mat-card>
    </div>
    <div *ngIf="!isMayor()">
      <img mat-card-image src="../../../../assets/werwoerter/town-day.jpg" alt="Tagphase">
      <mat-label>
        {{getRestText()}}
      </mat-label>
    </div>

    <mat-card *ngIf="canMayorAddMarkers()">
      <mat-card-content>
        <span  style="margin-right: 3px" *ngFor="let i of Arr(numberOfMarker(correctGuessMarker)).fill(1)">
          <mat-icon style="color: green">thumb_up_alt</mat-icon>
        </span>
      </mat-card-content>
      <mat-card-content>
        <span  style="margin-right: 3px" *ngFor="let i of Arr(numberOfMarker(wrongGuessMarker)).fill(1)">
          <mat-icon style="color: darkred">thumb_down_alt</mat-icon>
        </span>
      </mat-card-content>
      <mat-card-content>
        <span  style="margin-right: 3px" *ngFor="let i of Arr(numberOfMarker(maybeGuessMarker)).fill(1)">
          <mat-icon style="color: darkgoldenrod">offline_pin</mat-icon>
        </span>
      </mat-card-content>
      <mat-card-content>
        <span  style="margin-right: 3px" *ngFor="let i of Arr(numberOfMarker(closeMarker)).fill(1)">
          <mat-icon style="color: steelblue">whatshot</mat-icon>
        </span>
      </mat-card-content>
      <mat-card-content>
        <span  style="margin-right: 3px" *ngFor="let i of Arr(numberOfMarker(wrongTrackMarker)).fill(1)">
          <mat-icon style="color: red">cancel</mat-icon>
        </span>
      </mat-card-content>
      <mat-card-content>
        <span  style="margin-right: 3px" *ngFor="let i of Arr(maxQuestions - numberOfMarkers()).fill(1)">
          <mat-icon style="color: darkcyan">question_answer</mat-icon>
        </span>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="isMayor()">
      <button mat-button class="found-word-button" (click)="sendMarker(wordFoundMarker)">Das Wort wurde erraten</button>
      <button mat-button class="not-found-word-button" (click)="sendMarker(wordNotFoundMarker)">Das Wort konnte nicht erraten werden</button>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <mat-label *ngIf="numberOfMarker(wordFoundMarker) > 0">
          Der Bürgermeister hat angegeben, dass das Wort gefunden wurde!
        </mat-label>
        <mat-label *ngIf="numberOfMarker(wordNotFoundMarker) > 0">
        Das Wort konnte leider nicht erraten werden.
        </mat-label>
        <mat-label *ngIf="!canMayorAddMarkers() && numberOfMarker(wordNotFoundMarker) == 0 && numberOfMarker(wordFoundMarker) == 0">
          Die Anzahl Fragen sind ausgelaufen.
        </mat-label>
        <mat-label *ngIf="canMayorAddMarkers() && numberOfMarker(wordNotFoundMarker) == 0 && numberOfMarker(wordFoundMarker) == 0 ">
          Stelle dem Bürgermeister weiter Fragen.
        </mat-label>
      </mat-card-content>

    </mat-card>



  </mat-card-content>
</mat-card>

