.mat-card-image {
  margin-top: 4px !important;
}

.mat-card {
  margin-top: 4px;
}

.found-word-button {
  background-color: green;
  color: white;
}

.not-found-word-button {
  background-color: darkred;
  margin-top: 4px;
  color: white;
}


