img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 50%;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

.rotate {
  animation: rotation 5s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}
