input {
  outline: none;
  border: transparent;
  background-color: transparent;
}
input:focus {
  background-color: honeydew;
}

.table {
  width: 100%;
  text-align: left;
}

.menuTitleInput {
  font-size: larger;
}

.menuPeopleInput {
  width: 80%;
}

tr:nth-child(even) {background-color: #f2f2f2;}

