input {
  outline: none;
  border: transparent;
  background-color: transparent;
}
input:focus {
  background-color: honeydew;
}

textarea:disabled, input:disabled {
  color: black;
}

.table {
  width: 100%;
  text-align: left;
}

.menuTitleInput {
  font-size: larger;
}

.menuPeopleInput {
  width: 80%;
}

.green-button {
  color: mediumseagreen;
}

.green-button:hover {
  background-color: mediumseagreen;
  color: white;
}

.blue-button {
  color: lightskyblue;
}

.blue-button:hover {
  background-color: lightskyblue;
  color: white;
}

.red-button {
  color: lightcoral;
}

.red-button:hover {
  background-color: lightcoral;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}

