<mat-card *ngIf="menu">
  <mat-card-title><input type="text" class="menuTitleInput" [(ngModel)]="menu.name" title="Menutitle"></mat-card-title>
  <mat-card-content>
    <table class="table table-bordered table-responsive-md table-striped">
      <tr>
        <th>Rezept</th>
        <th>Anzahl Personen</th>
        <th>Aktion</th>
      </tr>
      <tr *ngFor="let menuPart of this.menu.menuParts; let index = index">
        <td width="40%">
          <a>{{menuPart.recipe.title}}</a>
        </td>
        <td width="40%">
          <a><input type="number" class="menuPeopleInput" (change)="menuPeopleChanged()" [(ngModel)]="menuPart.numberOfPeople" title="MenuPeople"></a>
        </td>
        <td>
          <span>
            <button class="red-button" type="button" mat-button="" (click)="removeMenuPart(index)"><mat-icon>delete_forever</mat-icon></button>
          </span>
        </td>
      </tr>
      <tr>
        <td width="40%">
          <mat-select class="amount-select" [(value)]="newRecipe" placeholder="Neues Rezept auswählen">
            <mat-option *ngFor="let recipe of getRecipes()" [value]="recipe">
              {{recipe.title}}
            </mat-option>
          </mat-select>
        </td>
        <td width="40%">
          <input type="number" class="menuPeopleInput" placeholder="0 ... 100" aria-label="Amount Number" [(ngModel)]="newRecipePeople" matInput>
        </td>
        <td  >
          <span>
            <button class="green-button" type="button" mat-button="" (click)="addNewRecipe()"><mat-icon>add_circle_outline</mat-icon></button>
          </span>
        </td>
      </tr>
    </table>

  </mat-card-content>

  <mat-card-content>
    <menu-ingredient-table [menu]="this.menu"></menu-ingredient-table>
  </mat-card-content>

  <mat-card-actions>
    <button class="blue-button" mat-raised-button="" (click)="back()">Zurück</button>
  </mat-card-actions>
</mat-card>
