<div id="ingredientTable" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
      </span>
  <table class="table table-bordered table-responsive-md table-striped">
    <tr>
      <th>Zutaten</th>
      <th>Anzahl</th>
      <th>Löschen</th>
    </tr>
    <tr *ngFor="let ingredientId of getIngredientIds(); let id = index">
      <td width="40%">
        <a>{{getIngredientName(ingredientId)}}</a>
      </td>
      <td width="40%">
        <a>{{getAmountString(ingredientId)}}</a>
      </td>
      <td>
          <span>
            <button type="button" mat-raised-button="" (click)="removeIngredient(id)">Entfernen</button>
          </span>
      </td>
    </tr>
    <tr>
      <td width="40%">
        <input type="text" placeholder="Neue Zutat" aria-label="Number" [(ngModel)]="newIngredientName" matInput [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of getIngredientOptions()" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </td>
      <td width="20%">
        <input type="text" placeholder="0 ... 100" aria-label="Amount Number" [(ngModel)]="newAmountText" matInput>
      </td>
      <td width="20%">
        <mat-select [(value)]="newAmountSize">
          <mat-optgroup *ngFor="let group of amountGroups" [label]="amountGroupToName(group)">
            <mat-option *ngFor="let amountSize of group.amountSize" [value]="amountSize">
              {{amountSizeToName(amountSize)}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </td>
      <td  >
        <span>
          <button type="button" mat-raised-button="" (click)="addNewIngredient()">Hinzufügen</button>
        </span>
      </td>
    </tr>
  </table>
</div>
