.table {
  width: 100%;
  text-align: left;
}

.mat-select {
  border : 1px solid whitesmoke;
}

.new-product-input {
  border : 1px solid whitesmoke;
  width: 80%;
}

.amount-select {
  width: 80%;
}
