.table {
  width: 100%;
  max-width: 600px;
  text-align: left;
}

tr {
  height: 30px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.mat-select {
  border : 1px solid whitesmoke;
  background-color: transparent;
}

.new-product-input {
  border : 1px solid honeydew;
  width: 80%;
  background-color: transparent;
}

.amount-select {
  width: 80%;
}

.green-button {
  color: mediumseagreen;
}

.green-button:hover {
  background-color: mediumseagreen;
  color: white;
}

.blue-button {
  color: lightskyblue;
}

.blue-button:hover {
  background-color: lightskyblue;
  color: white;
}

.red-button {
  color: lightcoral;
}

.red-button:hover {
  color: white;
  background-color: lightcoral;
}

