<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Wassertemperatur">
    <app-flur-temperature [observations]="temperatureObservations"></app-flur-temperature>
  </mat-tab>
  <mat-tab label="Aussentemperatur">
    <app-weather-temperature [currentValue]="weather.temperature" [observations]="weather.temperatureObservations"></app-weather-temperature>
  </mat-tab>
  <mat-tab label="Wind">
    <app-weather-wind [currentValue]="weather.wind" [observations]="weather.windObservations"></app-weather-wind>
  </mat-tab>
  <mat-tab label="Regen">
    <app-weather-rain [currentValue]="weather.rain" [observations]="weather.rainObservations"></app-weather-rain>
  </mat-tab>
  <mat-tab label="Wasserstand">
    <app-flur-level [observations]="levelObservations"></app-flur-level>
  </mat-tab>
  <mat-tab label="Abfluss">
    <app-flur-discharge [observations]="dischargeObservations"></app-flur-discharge>
  </mat-tab>
</mat-tab-group>

