<mat-card>
  <mat-card-title>
    Rezepte
    <mat-icon> fastfood</mat-icon>
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="getRecipes()" class="mat-elevation-z8">

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Bild </th>
        <td mat-cell *matCellDef="let recipe">
          <img class="icon_image" *ngIf="recipe.linkToPicture" [src]="recipe.linkToPicture">
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let recipe">
          {{recipe.title}}
        </td>
      </ng-container>

      <ng-container matColumnDef="numberOfPeople">
        <th mat-header-cell *matHeaderCellDef> Für wieviele Personen </th>
        <td mat-cell *matCellDef="let recipe" class="number-of-people-cell">
          {{recipe.numberOfPeople}}
        </td>
      </ng-container>

      <ng-container matColumnDef="ingredientCount">
        <th mat-header-cell *matHeaderCellDef> Zutaten </th>
        <td mat-cell *matCellDef="let recipe"> {{getIngredientCount(recipe)}} </td>
      </ng-container>

      <ng-container matColumnDef="stepCount">
        <th mat-header-cell *matHeaderCellDef> Arbeitsschritte </th>
        <td mat-cell *matCellDef="let recipe"> {{getStepsCount(recipe)}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editieren </th>
        <td mat-cell *matCellDef="let recipe"> <button class="blue-button" mat-button (click)="editRecipe(recipe.id)"><mat-icon>edit</mat-icon></button>  </td>
      </ng-container>

      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef> Ansehen </th>
        <td mat-cell *matCellDef="let recipe"> <button class="blue-button" mat-button (click)="viewRecipe(recipe.id)"><mat-icon>search</mat-icon></button>  </td>
      </ng-container>


      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Löschen </th>
        <td mat-cell *matCellDef="let recipe"> <button class="red-button" mat-button (click)="deleteRecipe(recipe.id)"><mat-icon>delete_forever</mat-icon></button> </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions><button class="green-button" mat-raised-button (click)="createRecipe()"><mat-icon>add_circle_outline</mat-icon><mat-icon>fastfood</mat-icon></button></mat-card-actions>
</mat-card>


