.mat-table {
  width: 100%;
}

.mat-card {
  margin: 8px 8px 8px 8px;
}

.green-button {
  color: mediumseagreen;
}

.green-button:hover {
  background-color: mediumseagreen;
  color: white;
}

.blue-button {
  color: lightskyblue;
}

.blue-button:hover {
  background-color: lightskyblue;
  color: white;
}

.red-button {
  color: lightcoral;
}

.red-button:hover {
  color: white;
  background-color: lightcoral;
}

.icon_image {
  height: 40px;
  padding-right: 10px;
}
