.temple-container {
  background: #003702;
  background-image: url("../../../assets/tempel/background0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

mat-card {
  background: transparent;
}

mat-card-title {
  color: white;
}

img {
  width: 18%;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.vote-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: darkred;
  color: whitesmoke;
}

.role-image {
  padding-left: 5vw;
}

.info-image{
  width: 14%;
}

.playerCards {
  max-width: 600px;
  float: left;
  right: 8px;
  background-color: rgba(0, 10, 0, 0.3);
  margin-right: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
}

.ownPlayerCards {
  max-width: 1000px;
  float: left;
}

.cardsContainer {
  overflow: hidden;

}

h3 {
  font-size: max(15px, 2vh);
  color: whitesmoke;
  padding-left: 4px;
}

.overview-container {
  padding-top: 8px;
  overflow: hidden;
}

.overview-image-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 2em;
  font-min-size: 10px;
  float: left;
  min-width: 100px;
}

.overview-image {
  min-width: 100px;
  width: 10vw;
  max-width: 160px;

}

.overview-image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-card {
  margin-top: 8px;
}
