img {
  width: 18%;
  padding-right: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.vote-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: darkred;
  color: whitesmoke;
}

.role-image {
  width: 15%;
}

.info-image{
  width: 15%;
}
