<div class="temple-container" *ngIf="tempelGame != null">

  <mat-card>
    <mat-card-title *ngIf="!gameFinished()">
      Runde {{ getRoundText() }}
    </mat-card-title>
    <mat-card-title *ngIf="gameFinished()">
      {{ getFinishedTitle() }}
    </mat-card-title>
    <mat-card-content>
      <div class="overview-container">
        <span class="overview-image-container" *ngIf="!gameFinished()">
          <img class="overview-image" mat-card-image src="{{getKeyUrl()}}" alt="Schlüssel">
          <div class="overview-image-text">{{keyText()}}</div>
        </span>

        <span class="overview-image-container">
          <img class="overview-image" mat-card-image src="{{getGoldUrl()}}" alt="Gold">
          <div class="overview-image-text">{{getGoldText()}}</div>
        </span>

        <span class="overview-image-container">
          <img class="overview-image" mat-card-image src="{{getFalleUrl()}}" alt="Falle">
          <div class="overview-image-text">{{getFalleText()}}</div>
        </span>

        <span class="overview-image-container">
          <img class="overview-image" mat-card-image src="{{getLeerUrl()}}" alt="Leer">
          <div class="overview-image-text">{{getLeerText()}}</div>
        </span>

        <span class="overview-image-container role-image" *ngIf="showSecretInfo && !gameFinished()">
          <img class="overview-image" mat-card-image src="{{getRoleImageUrl()}}" alt="Rollenbild">
        </span>

        <span *ngIf="showSecretInfo && !gameFinished()">
           <span class="overview-image-container" *ngFor="let card of getCardsOwnPlayer()">
          <img class="overview-image" mat-card-image src="{{getOpenImageURL(card)}}" alt="{{card.tempelCardType.toString()}}">
        </span>
        </span>

        <span *ngIf="gameFinished()">
            <span class="overview-image-container" *ngFor="let player of this.tempelGame.game.players">
              <img class="overview-image" mat-card-image src="{{getImageUrlForPlayerName(player.name)}}" alt="">
              <div class="overview-image-text">{{player.name}}</div>
           </span>
        </span>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="!gameFinished()" mat-raised-button class="vote-button" (click)="toggleSecretInfo()">{{secretInfoText()}}</button>
      <button *ngIf="gameFinished()" mat-raised-button class="vote-button" (click)="restartGame()">Spiel neu starten</button>
    </mat-card-actions>
  </mat-card>

  <mat-card *ngIf="!gameFinished()">
    <mat-card-content>
      <div class="cardsContainer">
        <span *ngFor="let player of tempelGame.game.players" class="playerCards">
          <h3>{{player.name}}</h3>
          <span *ngFor="let card of getCardsForPlayer(player)">
            <img mat-card-image src="{{getImageURL(card)}}" alt="{{card.tempelCardType.toString()}}" (click)="openCardIfHasKey(player, card)" (mouseover)="mouseIsOverCard(card)">
          </span>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
