<mat-grid-list class="moveVisualisation" cols="5" rowHeight="20px">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>{{history.previousField}}</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <img src={{getDiceImage()}}>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    <h3>{{history.previousField + history.roll}}</h3>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="showAction()">
    <img src={{getItemImage()}}>
    <div class="floatingNumber"><span>{{getMoveDifference()}}</span></div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="showAction()">
    <h3>{{history.currentField}}</h3>
  </mat-grid-tile>
</mat-grid-list>
