<mat-card>
  <mat-card-title>
    Werwolfabstimmung
  </mat-card-title>
  <mat-card-content>
    <img mat-card-image src="../../../../assets/werwoerter/werwolf-town.jpg" alt="Nachtphase">
    <div *ngIf="isWerewolf()">
      <mat-label>
        {{getWerwolfText()}}
      </mat-label>
      <div *ngIf="!hasAlreadyVoted()">
        <mat-form-field>
          <mat-label>Wähle die Seherin</mat-label>
          <mat-select [(value)]="selectedPlayerName">
            <div *ngFor="let player of getSelectablePlayers()">
              <mat-option value="{{player.identity.name}}">{{playerToStr(player)}}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="vote-button" (click)="sendSelectedPlayer()" [disabled]="isSendSelectedPlayerDisabled()">Töten</button>
      </div>
    </div>
    <div *ngIf="!isWerewolf()">
      <a>
        {{getRestText()}}
      </a>
    </div>
  </mat-card-content>
</mat-card>


