<mat-card>
  <mat-card-title>
    Zutatenliste
    <button type="button" mat-button="" (click)="downloadIngredients()"><mat-icon>save_alt</mat-icon></button>
  </mat-card-title>
  <mat-card-content>
    <table mat-table [dataSource]="menuIngredients" *ngIf="menuIngredients != null && menuIngredients.length > 0">

      <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef> Zutat </th>
        <td mat-cell *matCellDef="let menuIngredient"> {{menuIngredient.product.name}} </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Menge </th>
        <td mat-cell *matCellDef="let menuIngredient"> {{getAmountString(menuIngredient.amount)}} </td>
      </ng-container>

      <ng-container matColumnDef="recipeNames">
        <th mat-header-cell *matHeaderCellDef> Kommt vor in </th>
        <td mat-cell *matCellDef="let menuIngredient"> {{getRecipeNames(menuIngredient)}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>

