.table {
  width: 100%;
  text-align: left;
}

.mat-cell {
  padding-right: 20px;
}

mat-card-title {
  display: flex;
  flex-flow: row;
}

.blue-button {
  color: lightskyblue;
  margin-left: 10px;
  font-size: smaller;
}

.blue-button:hover {
  background-color: lightskyblue;
  color: white;
}

