p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Futura Md BT", fantasy;
}

.title  {
  text-align: center;
  font-size: 5rem;
  font-weight: lighter;
  margin-top: 5vh;
}

.subtitle {
  text-align: center;
  font-size: large;
}

img {
  max-width: 200px;
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25vw;
  height: 25vw;
}

