<mat-card *ngIf="recipe">
  <mat-card-title><input (change)="titleChanged()" type="text" [disabled]="!edit" class="recipeTitleInput" [(ngModel)]="recipe.title" title="Rezepttitel"></mat-card-title>
  <mat-card-subtitle>
    <span>Für </span>
    <input type="number" (change)="numberOfPeopleChanged()" class="recipeNumberOfPeopleInput" [(ngModel)]="recipe.numberOfPeople" title="numberOfPeople">
    <span>Personen</span>
    <span><mat-icon class="people_icon">people</mat-icon></span>
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="recipe.linkToPicture != null && recipe.linkToPicture.length > 0">
    <img class="recipe-image" src="{{recipe.linkToPicture}}">
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="edit">
    <span>Link für Rezeptbild: </span>
    <input class="linkToPictureInput" (change)="linkChanged()" type="url" [(ngModel)]="recipe.linkToPicture" title="linkToPicture">
  </mat-card-subtitle>
  <mat-card-content>
    <app-ingredient-table [edit]="edit" [recipe]="recipe" (saveEvent)="save($event)"></app-ingredient-table>
    <div id="stepTable" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
      </span>
      <table class="table table-bordered table-responsive-md table-striped">
        <tr>
          <th>Arbeitsschritte
            <span *ngIf="edit" (click)="addNewStep()">
              <mat-icon class="green-button">add_circle_outline</mat-icon>
            </span></th>
          <th *ngIf="edit">Sortieren</th>
          <th *ngIf="edit">Löschen</th>
        </tr>
        <tr *ngFor="let step of recipe.steps; let id = index">
          <td width="80%">
            <textarea matInput
                      cdkTextareaAutosize
                      #autosize="cdkTextareaAutosize"
                      cdkAutosizeMinRows="1"
                      cdkAutosizeMaxRows="10"
                      [disabled]="!edit"
                      class="step-input" [ngModel]="recipe.steps[id]" (change)="changeStep(id, $event)" title="Arbeitsschritt {{id + 1}}">{{step}}</textarea>
          </td>
          <td *ngIf="edit">
            <span class="table-up" (click)="moveStepUp(id)" *ngIf="id > 0 && recipe.steps.length > 0">
              <mat-icon>keyboard_arrow_up</mat-icon>
            </span>
            <span class="table-down" (click)="moveStepDown(id)" *ngIf="id < recipe.steps.length -1 && recipe.steps.length > 0">
                <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
          </td>
          <td *ngIf="edit">
            <span>
              <button class="red-button" type="button" mat-button (click)="removeStep(id)"><mat-icon>delete_forever</mat-icon></button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="blue-button" mat-raised-button="" (click)="back()">Zurück</button>
  </mat-card-actions>
</mat-card>
