.table {
  width: 100%;
  text-align: left;
}

.step-input {
  width: 100%;
}

input {
  outline: none;
  border: transparent;
}

textarea {
  outline: none;
  border: transparent;
}

.recipeNumberOfPeopleInput {
  width: 20px;
}

.linkToPictureInput {
  width: 60%;
}

.recipe-image {
  max-width: 20%;
  max-height: 20%;
}

.recipeTitleInput {
  font-size: larger;
}

input:focus {
  background-color: whitesmoke;
}

textarea:focus {
  background-color: whitesmoke;
}
