.table {
  width: 100%;
  text-align: left;
}

.step-input {
  width: 100%;
}

input {
  outline: none;
  border: transparent;
}

textarea {
  outline: none;
  border: transparent;
}

textarea:disabled, input:disabled {
  color: black;
}

.recipeNumberOfPeopleInput {
  width: 40px;
}

.linkToPictureInput {
  width: 60%;
}

.recipe-image {
  display: block;
  max-width:50%;
  max-height:20%;
  width: auto;
  height: auto;
}

.recipeTitleInput {
  font-size: larger;
}

input:focus {
  background-color: whitesmoke;
}

textarea:focus {
  background-color: whitesmoke;
}

textarea {
  font-size: inherit;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
}

.people_icon {
  padding-left: 4px;
  font-size: medium;
}

.green-button {
  color: mediumseagreen;
}

.green-button:hover {
  background-color: mediumseagreen;
  color: white;
}

.blue-button {
  color: lightskyblue;
}

.blue-button:hover {
  background-color: lightskyblue;
  color: white;
}

.red-button {
  color: lightcoral;
}

.red-button:hover {
  color: white;
  background-color: lightcoral;
}
