
.container {
  margin-top: 2vh;
  height: 1024px;
  max-width: 1024px;
  background-image: url("../../assets/housepoints/hourglasses.jpg");
  box-shadow: 0 0 20px 20px #0e0302 inset;
}

.gryffindor {
  color: gold;
  text-shadow: 1px 1px 4px red;
}

.slytherin {
  color: silver;
  text-shadow: 1px 1px 4px green;
}

.hufflepuff {
  color: black;
  text-shadow: 1px 1px 4px yellow;
}

.ravenclaw {
  color: black;
  text-shadow: 1px 1px 4px blue;
}

.top-row {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 170px;
}

.glitter {
  overflow: hidden;
  width: 110px;
  object-fit: cover;
  padding-left: 5px;
  border-radius: 30px 30px 15px 15px;
}

.full-size {
  background-color: #0e0302;
}

$s1:"";
$s2:"";
$s3:"";
@for $i from 1 through 300 {
$s1: $s1 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
$s2: $s2 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
$s3: $s3 + random(1000)*0.1vw + " " + random(1000)*0.1vh + " " + 0 + " " + random(50)*-0.01rem + #fff;
  @if $i < 300 {
    $s1: $s1 + ",";
    $s2: $s2 + ",";
    $s3: $s3 + ",";
  }
}
.snow {
  border-radius: 50%;
  opacity: 0.8;
  position: absolute;
  top:-100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.layer1 {
  width: 1.5rem;
  height: 1.5rem;
  filter:blur(1.5px);
  box-shadow: #{$s1};
  animation-duration: 12s;
}
.layer1.a {
  animation-delay: -3s;
}
.layer2 {
  width: 1.2rem;
  height: 1.2rem;
  filter:blur(3px);
  box-shadow: #{$s2};
  animation-duration: 16s;
}
.layer2.a {
  animation-delay: -4s;
}
.layer3 {
  width: 0.8rem;
  height: 0.8rem;
  filter:blur(6px);
  box-shadow: #{$s3};
  animation-duration: 20s;
}
.layer3.a {
  animation-delay: -5s;
}
@keyframes fall {
  100% {transform: translateY(200vh); }
}
