<mat-toolbar>
  <h1>Koni</h1>
  <span class="filler"></span>
  <button  type="button" routerLink="/main" mat-button>
    <mat-icon>home</mat-icon>
    Hauptmenü
  </button>
  <button *ngIf="isLoggedIn()" type="button" routerLink="/lobby" mat-button>
    <mat-icon>group</mat-icon>
    Lobby
  </button>
  <button [hidden]="isLoggedIn()" type="button" mat-button *ngIf="loggedInProfile && loggedInProfile.identity.name" routerLink="/profile" >
    <mat-icon>account_circle</mat-icon>
    {{ loggedInProfile.identity.name }}
  </button>
  <button *ngIf="isLoggedIn()" type="button" routerLink="/login" (click)="profileService.logout()" mat-button>
    <mat-icon>exit_to_app</mat-icon>
    Logout
  </button>
</mat-toolbar>
