<mat-card>
  <mat-card-title>
    Werwolfverbrennung
  </mat-card-title>
  <mat-card-content>
    <img mat-card-image src="../../../../assets/werwoerter/phase_execution.jpg" alt="Werwolfverbrennung">
    <mat-label>
      {{getText()}}
    </mat-label>

    <div *ngIf="!hasAlreadyVoted()">
      <mat-form-field>
        <mat-label>Stimme für einen Werwolf</mat-label>
        <mat-select [(value)]="selectedPlayerName">
          <div *ngFor="let player of getSelectablePlayers()">
            <mat-option value="{{player.name}}">{{playerToStr(player)}}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button class="vote-button" (click)="sendSelectedPlayer()" [disabled]="isSendSelectedPlayerDisabled()">Töten</button>
    </div>
  </mat-card-content>

</mat-card>
