<mat-card>
  <mat-card-title>
    Menus
    <mat-icon>restaurant_menu</mat-icon>
  </mat-card-title>
  <mat-card-content>

    <table mat-table [dataSource]="getMenus()" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let menu"> {{menu.name}} </td>
      </ng-container>

      <ng-container matColumnDef="recipeCount">
        <th mat-header-cell *matHeaderCellDef> Rezepte </th>
        <td mat-cell *matCellDef="let menu" class="recipe-count-cell">
          {{getRecipeCount(menu)}}
          <mat-icon>fastfood</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Editieren </th>
        <td mat-cell *matCellDef="let menu"> <button mat-button class="blue-button" (click)="editMenu(menu.id)"><mat-icon>edit</mat-icon></button>  </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Löschen </th>
        <td mat-cell *matCellDef="let menu"> <button class="red-button" mat-button (click)="deleteMenu(menu.id)"><mat-icon>delete_forever</mat-icon></button> </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button class="green-button" mat-raised-button (click)="createMenu()"><mat-icon>add_circle_outline</mat-icon><mat-icon>restaurant_menu</mat-icon></button>
  </mat-card-actions>
</mat-card>



